##Description

In [1]:
# The code was removed by Watson Studio for sharing.

,ACCOUNT_MGR_ID,CITY,COUNTRY_ID,COUNTRY_NAME,CREDIT_LIMIT,CUSTOMER_DIM_ID,CUSTOMER_ID,CUST_EMAIL,CUST_FIRST_NAME,CUST_LAST_NAME,...,JOB_ID,LAST_NAME,MANAGER_ID,PHONE_NUMBER,SALARY,SALESREP_DIM_ID,SALESREP_ID,DOLLARS_SOLD,AMOUNTS_SOLD,ORDER_ID
0,145,Indianapolis,US,United States of America,100,161,104,Harrison.Sutherland@GODWIT.EXAMPLE.COM,Harrison,Sutherland,...,SA_REP,Tuvault,145.0,1.144134e+13,7000.0,9,155.0,848.0,53,2354
1,145,Indianapolis,US,United States of America,100,161,104,Harrison.Sutherland@GODWIT.EXAMPLE.COM,Harrison,Sutherland,...,SA_REP,Tuvault,145.0,1.144134e+13,7000.0,9,155.0,3713.0,47,2354
2,145,Indianapolis,US,United States of America,100,161,104,Harrison.Sutherland@GODWIT.EXAMPLE.COM,Harrison,Sutherland,...,SA_REP,Tuvault,145.0,1.144134e+13,7000.0,9,155.0,1927.0,47,2354
3,145,Indianapolis,US,United States of America,100,161,104,Harrison.Sutherland@GODWIT.EXAMPLE.COM,Harrison,Sutherland,...,SA_REP,Tuvault,145.0,1.144134e+13,7000.0,9,155.0,1008.0,48,2354
4,145,Indianapolis,US,United States of America,100,161,104,Harrison.Sutherland@GODWIT.EXAMPLE.COM,Harrison,Sutherland,...,SA_REP,Tuvault,145.0,1.144134e+13,7000.0,9,155.0,2928.0,61,2354